EXPO_PUBLIC_SUPABASE_URL=https://mjihdpcqohvrbcpqmuvo.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
EXPO_PUBLIC_JELA_WEBSITE_URL=https://www.jelaai.com.ng
EXPO_PUBLIC_PAYSTACK_PUBLIC_KEY=pk_live_784c0634476c858d3f1ab0c1a714a35d04cbde00
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_ENABLE_GOOGLE_AUTH=false
EXPO_PUBLIC_ENABLE_GITHUB_AUTH=false
